*{
    margin: 0;
    padding: 0;
}
section{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cards{
    width: 300px;
    padding: 20px;
}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgb(0,0,0,0.1);
    cursor: pointer;
}
.image-box img{
    width: 260px;
    height: 150px;
}
.details button{
    color: gray;
    border: 1px solid black;
    font-weight: bold;
    width: 250px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align:center;
    
}
.details p{
    text-align: center;
    padding: 5px;
}
.details button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(32, 31, 31);
}